<div class="c-post-card{{#if format}} c-post-card--{{format}}{{/if}}">
  <div class="c-post-card__head">
    <div class="c-post-card__media">
      <a href="{{ url }}" class="c-post-card__url--cover"></a>
      {{#if feature_image}}
      <div class="c-post-card__image--wrap">
        <img
          class="c-post-card__image"
          alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
          src="{{img_url feature_image}}"
        />
      </div>
      {{/if}}
    </div>
  </div>
  <div class="c-post-card__body">
    <div class="c-post-card__title--wrap">
      <h3 class="c-post-card__title">
        <a href="{{ url }}" class="c-post-card__url">{{ title }}</a>
      </h3>
    </div>
    <div class="c-post-card__excerpt">{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{ excerpt }}{{/if}}</div>
    <div class="c-post-card__meta">
      {{#primary_tag}}
      <div class="c-post-card__tag">
        <a href="{{ url }}">{{ name }}</a>
      </div>
      {{/primary_tag}}
      {{#primary_author}}
      <div class="c-post-card__author">
        <a href="{{ url }}">{{ name }}</a>
      </div>
      {{/primary_author}}
    </div>
  </div>
</div>